.booleaner-bg{
  height:140px;
  background-color:rgb(78,160,255);
  background-image: url('../IMG/pattern.png');
  background-position: center center;
}

#booleaner-logo{
  height:56px;
  margin:40px 20px;
}

h1{
  font-size:40px;
  margin-bottom:15px;
}
.author{
  color:grey;
  font-size:80%;
}

#author-name{
  color:#41B6E9;
  font-weight: bold;
}

.photo-description{
  font-size:70%;
}

.highlight{
  background-color: yellow;
}

th{
  background-color: #20A9E5;
  color:white;
}

.firsts{
  width:25%;
}

.last{
  width:50%;
}

tr:nth-child(odd){
  background-color: #B1E5F2
}

footer{
 margin-top: 30px;
}

#next-reading{
  font-size:16px;
  color:grey;
  font-weight: bold;
}

.suggested{
  width:200px;
  height: 150px;
  color:white;
  padding: 20px;
  border: 1px dotted black;
  margin-top:10px;
  font-size: 18px;
  font-weight: bold;
}

.first-article{
  background-image: url('../IMG/monitor.jpg');
}

.second-article{
  background-image: url('../IMG/graph.jpg');
}
